/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.body{
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}
/* Row */
.row{
    clear: both;
    width: 100%;
    height: auto;
}
/* Fixed Nav */
.fixed-nav{
    clear: both;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;

}
.fixed-nav ul{
    list-style: none;
}
.fixed-nav ul li{
    text-align: center;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    border-right: 1px solid lightgrey;
}
.fixed-nav ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 10px 15px;
    
}

/*  Normal Nav */
.normal-nav{
    clear: both;
    position: static;
    width: 100%;
    height: auto;
}
.normal-nav ul{
    list-style: none;
}
.normal-nav ul li{
    text-align: center;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 5px;
    border-right: 1px solid lightgrey;
}
.normal-nav ul li a{
    text-decoration: none;
    color: rgb(116, 110, 110);  
}

/* Float-left */
.float-left{
    clear: both;
    float: left;
}
/* Float-right */
.float-right{
    clear: both;
    float: right;
}

/* Card */
.card{
    clear: both;
    display: inline-block;
    height: auto;
    margin: 10px;
    border: 1px solid lightgrey;
}
.card img{
    width: 100%;
    height: auto;
}
.card-text {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
.card-text-header{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-text-header p{
    font-size: 50px;
    font-weight: bold;
}
.card-text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.card-element {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    text-align: left;
}
.card-element a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.card-element a:hover{
    color: red;
}
.card-bottom-text{
    width: 100%;
    height: auto;
    font-size: 12px;
    color: grey;
    margin-top: 5px;
}

/* Button */
.button{
    border-radius: 10px;
}
.button:hover{
    box-shadow: aquamarine;
}
.blue-button{
    background-color: blue;
    color: white;
}
.red-button{
    background-color: rgb(214, 18, 18);
    color: white;
}
.white-button{
    background-color: white;
    color: black;
}

/* Forms */
.form{
    padding: 5px;
    border: solid 1px #C6CFCF;
}
.form-header{
    text-align: center;
    font-weight: bolder;
}
.form-small-text p{
    margin: 0 !important;
    font-size: 12px;
    color: grey;
}
.form-footer p{
    margin: 0 !important;
    font-size: 14px;
    font-style: italic;
    color: lightblue;
}

/*  footer */
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    margin-top: 10px;
}

/*   3 column row */


.cols-three{
    vertical-align: top;
    width: 30%;
    height: auto;
    display: inline-block;
}
/*   4 column row */

.cols-four{
    vertical-align: top;
    width: 23%;
    height: auto;
    display: inline-block;
}
/*   2 column row */

.cols-two{
    vertical-align: top;
    width: 48%;
    height: auto;
    display: inline-block;
}
