.body{
	font-family: "Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
}

.nav-left {
	padding-left: 5%;
	width: 70%;
	float: left;
	align-items: center;
}

.nav-right {
	width: 30%;
	display: flex;
	flex-wrap: nowrap;
}

.nav{
	height: 80px;
}
.fixed-nav ul li a {
	color: grey;
}

.fa .fa-search-icon, .fa-bars {
	color: white;
}

.top-nav {
	height: 50px;
	padding-top: 20px;
}

.top-white-line {
	height: 25px;
	width: 100%;
	margin: 10px auto;
	background-color: white;
	text-align: center;
	font-size: 10px;
	color: black;
	display: flex;
	justify-content: center;
	clear: both;
}
.top-white-line p{
	margin: 0 10px;
	font-size: 15px;
}
.top-white-line p:hover{
	color: red;
}
.top-white-line-red{
	color: red;
}
.main-body{
	width: 86%;
	margin: 0 auto;
}
.main-body-article{
	border: none;
}
.main-body-article-header p:hover{
	color: red;
}
.top-stories{
	background-color: lightgray;
}
.top-stories p{
	line-height: 34px;
	font-size: 18px;
	font-weight: bold;
}
.top-stories-text{
	font-size: 20px;
	border: none;
}
.section-line{
	
	
	

	
}
.section-line h5{
	font-size: 20px;
	color: black;
	width: 15%;
	float: left;
	margin: 0 0;
}
.section-line p{
	height: 10px;
	background-color: lightgray;
	margin-top: 10px;
	width: 84%;
	float: left;
}
.row2{
	width: 86%;
	margin: 0 auto;
}
.footer2{
	margin-left: 150px;
}